<div id="inner-content">
  <div id="people">
    <h2>Friend List</h2>
    <ul class="plain">
      <% for user in @users %>
        <li><%= user.name %>
          <% friend = current_user.friends.include? user %>
          <%= form_tag ((friend ? unfriend_path : friend_path), {:class => "inline"}) do %>
            <%= hidden_field_tag :user_id, :value => user.id %>
            <%= submit_tag (friend ? "Unfriend" : "Friend"), :class => "inline" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="newsfeed">
  <h2>Newsfeed</h2>
  <div id="status-box" class="clearfix">
    <%= form_tag posts_path do %>
      <%= fields_for :post do |f| %>
        <%= f.text_area :content, :placeholder => "Enter status update here" %>
        <%= f.submit "Post" %>
      <% end %>
    <% end %>
  </div>
  <ul class="plain">
    <% for post in @posts %>
      <li class="newsfeed-item clearfix">
        <div class="newsfeed-item-left">
          <span class="photo"></span>
        </div>
        <div class="newsfeed-item-right">
          <span class="author"><%= post.user.name %></span>
          <span class="content"><%= post.content %></span>
        </div>
      </li>
    <% end %>
  </ul>
    
  </div>
</div>
